body {
    background-image: url(https://wallpaperaccess.com/full/6029939.jpg);
    background-size: cover;
}
.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  height: 100vh;
}

.confirmation-header {
  background-color: var(--white);
  border: 3px solid #d3d3d3;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 7px 5px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.confirmation-header > h1 {
  color: var(--blue);
}
.confirmation-header > p {
    margin-bottom: 20px;
}
.circle-finish {
  background: var(--blue);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: var(--white);
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
}
