/**** PROGRESS CIRCLES ******/
.circle-checked {
  background-color: var(--blue);
  opacity: 60%;
}

/****** CARDS *************/
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #ebebeb;
}
/************ RESUME CARD***************/
.resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.resume-card {
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: #f2f2f2;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 11px;
  font-weight: 400;
}
.resume-title {
  font-weight: 600;
}
.resume-card-mobile {
  display: none;
}
.fa-car,
.check {
  font-size: 30px;
  color: var(--blue);
}
.fa-plus,
.fa-minus {
  display: none;
  font-size: 20px;
  color: #a6a7a8;
}
.fa-arrow-left,
.fa-arrow-right {
  color: var(--blue);
  font-size: 30px;
  padding: 10px;
  display: none;
}

/**************COST CARDS****************/
.cards-mobile {
  display: none;
}
.red-line {
  position: relative;
}
.red-line:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;
  color: red;
  transform: rotate(-7deg);
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 5px;
  background-color: #ffffff;
}
.cost {
  text-align: center;
  padding: 15px;
  background-color: var(--blue);
  color: var(--white);
  padding-bottom: 0px;
}
.cost-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 140px 0 140px;
  border-color: var(--blue) transparent transparent transparent;
}
.card-left {
  border: 2px var(--blue) solid;
  border-right: none;
  border-bottom-right-radius: 0px;
}
.card-right {
  border: 2px var(--blue) solid;
  border-left: none;
  border-bottom-left-radius: 0px;
}
.card-middle {
  border: 2px var(--green) solid;
}
.middle-cost {
  background-color: var(--green);
}

.coverage-scope {
  display: flex;
  font-size: 13px;
  padding: 20px;
}
.coverage-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.coverage-list-middle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  max-height: 120px;
  list-style-position: inside;
}
.coverage-scope li {
  list-style: none;
  padding: 0;
  margin-left: -10px;
}
li .fa-check {
  color: var(--green);
  font-weight: bold;
  font-size: 15px;
}
li .fa-circle-info {
  color: var(--gray);
}
.coverage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding-top: 0px;
}
.more {
  background-color: #ffffff;
  border: 2px #d3d3d3 solid;
  color: var(--gray-for-text);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.more:hover {
  background-color: var(--gray);
  cursor: pointer;
  color: var(--white);
}
.buy {
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 230px;
  align-self: center;
  font-size: 20px;
}
.buy:hover {
  background-color: var(--gray);
  cursor: pointer;
  color: var(--white);
}

.cost-triangle-middle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 150px 0 150px;
  border-color: var(--green) transparent transparent transparent;
}
.coverage-scope-middle {
  font-size: 13px;
  padding: 20px;
}
.coverage-scope-middle li {
  list-style: none;
  padding: 0;
  margin-left: -10px;
}

/************* BUTTONS **********************/
.bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.bottom-button {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 120px;
  background-color: #a6a7a8;
  color: var(--white);
}
.bottom-button:hover {
  background-color: var(--white);
  cursor: pointer;
  color: var(--gray);
}

.contact-number-cards {
  color: var(--blue);
  font-weight: 700px;
  font-size: 20px;
  align-self: center;
  display: none;
}

/*****************POPUP**********************/
#blur.active {
  pointer-events: none;
  visibility: visible;
}
.blur {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}
.popup {
  width: 420px;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 40%;
  transform: translate(-50%, -50%) scale(1);
}
.coverage-scope-popup {
  display: flex;
  font-size: 13px;
  padding: 30px;
  padding-bottom: 5px;
  gap: 5px;
}
.coverage-text > hr {
  border: 1px solid #eeeeee;
}
.cost-triangle-popup {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 210px 0 210px;
  border-color: var(--green) transparent transparent transparent;
}
.coverage-info-icons {
  display: flex;
  flex-direction: column;
  gap: 5.7px;
}
.coverage-info-icons i {
  color: var(--gray);
}
.coverage-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.legend {
  padding: 30px;
  padding-top: 0px;
}
.close {
  background-color: var(--green);
  border: none;
  color: #ffffff;
  display: flex;
  border-radius: 50%;
}
.close:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.middle-cost-popup {
  background-color: var(--green);
  border: 5px solid var(--green);
  margin-top: 0px;
}
.cost-popup {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: var(--green);
  color: var(--white);
}
.popup-text-mobile {
  display: none;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.coverage-buttons-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding-top: 0px;
}
.buy-popup {
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 170px;
  align-self: center;
  font-size: 20px;
}
.buy-popup:hover {
  background-color: var(--gray);
  cursor: pointer;
  color: var(--white);
}
/**************** TEXT RULES ¨********************/
.small-text {
  font-size: 12px;
  font-weight: 400;
}
.medium-text {
  font-size: 16px;
  font-weight: 500;
}
.big-text {
  font-size: 30px;
  font-weight: 600;
}

/******************MEDIA QUERYS*************************/
@media screen and (max-width: 800px) {
  /*** RESUME CARD********/
  .resume-card-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f2f2f2;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
  }
  .fa-plus {
    display: flex;
  }
  .resume-card {
    display: none;
  }
  /***********COST CARDS**************/
  .cards {
    display: none;
  }
  .card {
    width: 300px;
  }
  .fa-arrow-left,
  .fa-arrow-right {
    display: flex;
  }
  .cost-triangle,
  .cost-triangle-middle {
    border-width: 15px 135px 0 135px;
  }
  .coverage-scope,
  .coverage-scope-middle {
    padding: 10px;
  }
  .coverage-list,
  .coverage-list-middle {
    margin-left: -10px;
  }
  .card-hidden {
    display: flex;
  }
  /**********SLIDER**************/
  .cards-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card-right,
  .card-left {
    border: 2px var(--blue) solid;
  }

  #overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
  }
  .overlay_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10%;
    height: 5%;
    font-size: 10vw;
    font-weight: bold;
    color: var(--blue);
    background-color: #ebebeb;
    top: 55%;
    pointer-events: auto;
  }
  #left_button {
    left: 2.5%;
  }
  #right_button {
    right: 2.5%;
  }
  .card {
    display: none;
  }
  .card.card-visible {
    display: block;
    max-width: 270px;
  }
  .coverage-list-middle {
    overflow-y: hidden;
  }
  /*** BUTTONS ***/
  .cotizacion {
    display: none;
  }
  .contact-number-cards {
    display: flex;
  }
  /*****************BOTTOM BUTTONS*********************/
  .back span {
    display: none;
  }
  .back::after {
    content: "VOLVER";
  }
  /*********POPUP***************/
  .card.popup {
    display: block;
  }
  .cost-triangle-popup {
    border-width: 15px 150px 0 150px;
  }
  .popup-text > .small-text {
    display: none;
  }
  .popup-text-mobile {
    display: block;
    font-size: 13px;
  }
}
