/********** LAYOUT **********/
.wrapper {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
}

.progress {
  grid-column: 1;
  grid-row: 1;
  background-color: #ffffff;
  text-align: center;
}
.form-top {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--light-gray);
}
.form-bottom {
  grid-column: 1;
  grid-row: 3;
  background-color: blue;
}

/********** PROGRESS CIRCLES **********/
.heading {
  color: var(--blue);
  padding: 30px;
  padding-bottom: 0px;
  font-size: 17px;
}
.progress-circles {
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-content: baseline;
  padding: 15px;
  margin-bottom: 7px;
}
.circle {
  background: var(--gray);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 23px;
}
.circle-active {
  background: var(--blue);
  width: 60px;
  height: 60px;
  border: 8px solid #e5e5e5;
  margin-bottom: 15px;
}
.dotted-line {
  border: none;
  border-top: 5px dotted #e5e5e5;
  color: #fff;
  background-color: #ffffff;
  width: 70px;
  margin: 0px 10px 0px 10px;
}

.container-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--gray-for-text);
}

.container-circle-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--blue);
}

/***** FORM *********/
.form-top-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  padding-bottom: 10px;
  gap: 10px;
}
.textbox {
  background-color: #ffffff;
  border: 1px solid #cfcece;
  border-radius: 5px;
  color: #64706f;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 600;
}
.textbox::placeholder {
  color: #64706f;
  font-size: 10px;
  font-weight: 600;
}
.textbox1 {
  grid-column: 1;
  grid-row: 1;
}
.fa-circle-info {
  color: var(--blue);
  margin-left: 5px;
}
.radio {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}
.radio-label {
  color: var(--blue);
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}
.radio-label-mobile {
  display: none;
}
.radio-option {
  font-size: 12px;
  padding: 5px;
  color: #64706f;
}

.textbox2 {
  grid-column: 1;
  grid-row: 2;
}
.textbox3 {
  grid-column: 2;
  grid-row: 2;
}
.textbox4 {
  grid-column: 3;
  grid-row: 2;
}
.accesories {
  grid-column: 1;
  grid-row: 3;
}
.textbox5 {
  width: 90%;
}
.textbox6 {
  grid-column: 2;
  grid-row: 3;
}
.textbox7 {
  grid-column: 3;
  grid-row: 3;
}

.below-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 20px;
  padding: 20px;
  padding-top: 0px;
}
.captcha-image {
  width: 230px;
}

.bottom-text {
  color: #64706f;
  font-size: 10px;
  font-weight: 700;
  padding-left: 5px;
}

.button-cotizar {
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px;
  min-width: 300px;
  align-self: center;
  font-size: 15px;
  font-weight: 500;
}
.button-cotizar:hover {
  background-color: var(--gray);
  cursor: pointer;
  color: var(--white);
}
.button-cotizar-link {
  align-self: center;
  padding: 20px;
  padding-bottom: 0px;
}

/********** BANNERS **********/
.banners {
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}
.banners-image {
  width: 46%;
  height: 95%;
}

/********** TERMS AND CONDITIONS **********/
.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 2px;
  font-size: 10px;
  font-weight: 500;
}
.terms-link {
  color: var(--blue);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.terms-text {
  color: var(--gray-for-text);
  text-align: center;
  max-width: 650px;
}

/******************MEDIA QUERYS*************************/
@media screen and (max-width: 800px) {
  /************PROGRESS CIRCLES*********/
  .heading {
    font-size: 13px;
  }
  .progress {
    max-width: 100vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .progress-circles {
    padding: 10px;
    padding-bottom: 0px;
    align-items:baseline;
  }
  .circle,
  .circle-active {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 5px;
  }

  .container-circle > p {
    display: none;
  }
  .container-circle-active > p {
    display: none;
  }
  .container-circle-active,.container-circle {
    margin: 0px;
    padding: 0px;
    justify-content: baseline;
    align-items: baseline;
    align-content: baseline;
  }
  .dotted-line {
    color: #fff;
    background-color: #ffffff;
    max-width: 30px;
    margin: 0px;
    padding-bottom: 5px;
    border-top: 4px dotted #e5e5e5;
  }
  /*************BANNERS Y TERMS*****/
  .banners {
    display: none;
  }
  .terms-text {
    text-align: center;
    max-width: 300px;
  }
  /***** FORM *********/
  .form-top-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    gap: 5px;
  }
  .textbox {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 600;
    font-size: 12px;
  }
  .textbox::placeholder {
    font-size: 12px;
  }
  .textbox1 {
    grid-column: 1;
    grid-row: 1;
  }
  .radio {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
  }
  .radio-label{
    display: none;
  }
  .radio-label-mobile {
    display: block;
  }
  .radio-option {
    font-size: 13px;
  }
  .textbox2 {
    grid-column: 1;
    grid-row: 3;
  }
  .textbox3 {
    grid-column: 1;
    grid-row: 4;
  }
  .textbox4 {
    grid-column: 1;
    grid-row: 5;
  }
  .accesories {
    grid-column: 1;
    grid-row: 6;
  }
  .textbox5 {
    width: 90%;
  }
  .textbox6 {
    grid-column: 1;
    grid-row: 7;
  }
  .textbox7 {
    grid-column: 1;
    grid-row: 8;
  }
  /*************BELOW FORM******************/
  .below-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .captcha-image {
    width: 300px;
    align-self: flex-start;
    margin-left: 15px;
  }
  .bottom-text-2 {
    display: none;
  }
  .bottom-text-1 {
    display: block;
    font-size: 12px;
    padding-left: 20px;
  }
}
